# Core dependencies
numpy  # Remove explicit version to avoid conflicts
pandas==2.2.3
altair==5.3

# Dash-related packages
dash==2.18
dash-bootstrap-components==1.5
dash-vega-components==0.0.1
plotly==6.0

# Data handling utilities
tabulate==0.9
lxml==5.3  

# Geospatial processing
geopy==2.4.1

# Machine learning/statistics dependencies
blis
thinc

# Cache
flask-caching==2.2.0

# Deployment & Server
gunicorn==21.2  

# Parquet Support
pyarrow
fastparquet
