.custom-header {
    background-color: #D15B51;
    padding-top: 2vh;
    padding-bottom: 2vh;
    min-height: 10vh;
}

.custom-title {
    color: white;
    text-align: left;
    font-size: 48px;
}

.custom-input-container {
    background-color: #E4AA90;
    padding: 9px;
}

.custom-sidebar {
    background-color: #D5A9AF;
    padding: 20px; 
    padding-bottom: 0;
    height: 150vh;
    display: flex;
    flex-direction: column;
}

.checkbox-label {
    margin-left: 10px;
}

.custom-card-title {
    text-align: center;
    background-color: #E4AA90;
    font-size: 22px;
    font-weight: bold;
}

.custom-card {
    text-align: center;
}

.custom-footer {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}