.custom-header {
    background-color: #D15B51;
    padding-top: 2vh;
    padding-bottom: 2vh;
    min-height: 8vh;
}

.custom-title {
    color: white;
    text-align: left;
    font-size: 48px;
}

.custom-filter-title {
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    padding: 4px;
}

.custom-filter-armed {
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    padding: 6px;
}

.custom-sidebar {
    /* background-color: #fbf4f4; */
    padding: 20px; 
    padding-bottom: 0;
    border-radius: 3;
    height: 160vh;
    display: flex;
    flex-direction: column;
}

.checkbox-label {
    margin-left: 10px;
}

.custom-card-title {
    text-align: left;
    background-color: #E4AA90;
    font-size: 22px;
    font-weight: bold;
}

.custom-slider-title {
    font-size: 22px;
    font-weight: bold;
}

.custom-slider-box {
    background-color: #E4AA90;
}

.custom-footer {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}